body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Navbae */
.navbar-nav a{
  text-decoration: none;
  color: #C7C8C9;
}

.navbar-nav .nav-link{
  padding-right: var(--bs-navbar-nav-link-padding-x);
  padding-left: var(--bs-navbar-nav-link-padding-x);

}







/* Contact page CSS */

.contact-img{
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form{
  /* display: flex;
  justify-content: center;
  align-items: center; */
}